### IDE ###
*.iml
.idea/
.DS_Store

### Gradle / Kotlin ###
.gradle/
.kotlin/
**/.gradle/
**/.kotlin/
.gradle-local/

### Build outputs ###
build/
**/build/
.externalNativeBuild/
.cxx/
captures/
app-android/release/

### Android ###
local.properties
/local.properties

### Misc ###
*.keystore
*.jks

### Claude ###
.claude

### GMS ###
google-services.json
