### IDE ###
*.iml
.idea/
.DS_Store

### Gradle / Kotlin ###
.gradle/
.kotlin/
**/.gradle/
**/.kotlin/

### Build outputs ###
build/
**/build/
.externalNativeBuild/
.cxx/
captures/

### Android ###
local.properties
/local.properties

### Misc ###
*.keystore
*.jks
