TEAM_ID=
IOS_PROVISIONING_PROFILE_SPECIFIER=
WATCH_PROVISIONING_PROFILE_SPECIFIER=

PRODUCT_NAME=futacha
PRODUCT_BUNDLE_IDENTIFIER=com.valoser.futacha

CURRENT_PROJECT_VERSION=164
MARKETING_VERSION=10.2

// Optional developer/release settings. This file is intentionally ignored.
#include? "Local.xcconfig"
