<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<false/>
	<key>FirebaseCrashlyticsCollectionEnabled</key>
	<false/>
	<key>FirebasePerformanceCollectionEnabled</key>
	<false/>
	<key>NSMicrophoneUsageDescription</key>
	<string>としあき(仮)モードで投稿内容を音声入力するためにマイクを使用します。</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>としあき(仮)モードで投稿内容を音声から文字に変換するために音声認識を使用します。</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.valoser.futacha.refresh</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.valoser.futacha.ai</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>futacha</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>保存済みスレHTML</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.html</string>
			</array>
		</dict>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconToshiakiCompat</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconToshiakiCompat</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconClassic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconClassic</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
